

    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <title> APARTMENT</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>

    <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand"> APARTMENT </a>
    </nav>

    <ul class="nav nav-pills">
    <li class="nav-item">
    <a class="nav-link active" href="/"> APARTMENT </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">จัดการห้องพัก</a>
    <div class="dropdown-menu">

    <a class="dropdown-item" href="/apartment">หอพัก</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/room">ห้องพัก (Room)</a>
    <a class="dropdown-item" href="/furniture">เฟอร์นิเจอร์ (Furniture)</a>
    <a class="dropdown-item" href="/roomtype">ประเภทห้องพัก (Roomtype)</a>
    <a class="dropdown-item" href="/furnituretype">ประเภทเฟอร์นิเจอร์ (Furnituretype)</a>
    <a class="dropdown-item" href="/utility">สาธารณูปโภค (Utility)</a> 
    <a class="dropdown-item" href="/facility">สิ่งอำนวยความสะดวก (Facility)</a>

    </div>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">จองห้องพัก</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/reserve">จองห้องพัก (Reserve)</a>
    </div>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ทำสัญญา</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/contract">สัญญา (Contract)</a>
        <a class="dropdown-item" href="/customer">ชื่อผู้เช่า (Customer)</a>
    </div>
    </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ย้ายเข้า</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/movein">วันที่ย้ายเข้า (Movein)</a>
        <a class="dropdown-item" href="/checkitem">ตรวจสอบอุปกรณ์ในห้อง (Checkitem)</a>
    </div>
    </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">แจ้งซ่อม</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/repair">แจ้งซ่อม (Repair)</a>
      <a class="dropdown-item" href="/repairtype">ประเภทอุปกรณ์ (Repairtype)</a>
    </div>
    </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> ออกบิลรายเดือน </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/listbill">ออกบิล (listbill)</a>
    </div>
    </li>


    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> ชำระเงิน </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/pay">ชำระเงิน (pay)</a>
    </div>
    </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> แจ้งออก </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/notice">แจ้งออก (notice)</a>
    </div>
    </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> ย้ายออก </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/moveout">ย้ายออก (moveout)</a>
    </div>
    </li>


    <li class="nav-item">
    <a class="nav-link active" href="/logout"> ออกจากระบบ </a>
    </li>

    </ul>

    <BR> <BR>

      <% if(sess.success==false){ %>
        <% for(var i=0;i<sess.errors.length;i++){ %>
          <div class="alert alert-dismissible alert-secondary" role="alert">
        <%= sess.errors[i]["msg"] %>
          </div>
     <% } sess.success=null; } %>

     <% if(sess.success==true){ %>
       <div class="alert alert-dismissible alert-primary" role="alert">
          <%= sess.topic %>
       </div>
      <% } sess.success=null;  %>