
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> apartment</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
<a href="/" class="navbar-brand">apartment </a>
</nav>

<div class="container mt-2">
  <div class="row">
    <div class="col-lg-12">


  <h4 align="center"><u>เลือกอพาร์ทเมนท์</u></h4>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-9">


        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>No</th>
              <th>username</th>
              <th>ชื่ออพาร์ทเมนท์</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
              <% for(var i = 0; i < data.length; i++) { %>
                <tr> <form action="/check/<%= data[i].id %>" method="post">
                  <td> <%= (i+1) %> </td>
                  <td> <%= data[i].username %> </td>
                  <td> <%= data[i].Apname %> </td>

                  <td>

                    <button type="submit" class="btn btn-success">เลือก</button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% include _footer%>
