

    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <title> APARTMENT</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>

    <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand"> APARTMENT </a>
    </nav>

    <ul class="nav nav-pills">
    <li class="nav-item">
    <a class="nav-link active" href="/admin"> APARTMENT </a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">จัดการห้องพัก</a>
    <div class="dropdown-menu">

    <a class="dropdown-item" href="/admin/apartment">หอพัก</a>
   
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> จัดการผู้ใช้ </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/admin/localadmin">localadmin </a>
        <a class="dropdown-item" href="/admin/management">management </a>
    </div>
    </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> ออก </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/admin/logout">ออก </a>
    </div>
    </li>
    </ul>

    <BR> <BR>
